.backgroundimg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh
}

.center{
    margin: auto;
    text-align: center;
}
li{
    list-style: none;
    margin-left: 10%;
    margin-top: 2%;
}
.part2{
    background-color: rgb(226, 149, 61);
    padding-bottom: 5%;
}
.statement{
    margin-left: 10%;
    margin-top: 5%;
    color: #222;
}
