<div class="row">
  <div class="picture col-12">
    <img
      class="backgroundimg"
      src="../../assets//pictures/RemodelHome.jpg"
      alt="home photo"
    />
  </div>
  <div class="center col-12">
    <h1>Welcome to Home Remodel Contracting</h1>
    <p>The one website to fit all of your home remodeling needs</p>
  </div>

  <div class="part2 col-12">
    <h4 class="statement">
      Our Website connects home renovators to prospective clients
    </h4>
    <ul>
      <li class="">Get Quotes from hundreds of contractors</li>
      <li class="">Find the right home renovator easily</li>
      <li class="">Get the best price in your area</li>
    </ul>
  </div>
</div>
