<div>
  <div class="picture">
    <img
      class="backgroundimg"
      src="../../assets//pictures/RemodelHome.jpg"
      alt="home photo"
    />
  </div>
  <div class="center">
    <h1>Welcome to Home Remodel Contracting</h1>
    <p>The one website to fit all of your home remodeling needs</p>
  </div>

  <div class="m-5">
    <h4 class="">
      Our Website connects home renovators to prospective clients
    </h4>
    <ul>
      <li class="m-3">Get Quotes from hundreds of contractors</li>
      <li class="m-3">Find the right home renovator easily</li>
      <li class="m-3">Get the best price in your area</li>
    </ul>
  </div>
</div>
