

  <div class="">
    <div class="picture col-12">
      <img
      class="backgroundimg"
      src="../../assets//pictures/RemodelHomeCropped.jpg"
      alt="home photo"
    />
  </div>
  <div class="center col-12 mb-3 mt-3">
    <h1 class="mb-3">Welcome to Home Remodel Contracting</h1>
    <p>The one website to fit all of your home remodeling needs</p>
  </div>

  <div class="part2 col-12">
    <h4 class="statement">
      Our Website connects home renovators to prospective clients
    </h4>
    <ul>
      <li class="">Get Quotes from hundreds of contractors</li>
      <li class="">Find the right home renovator easily</li>
      <li class="">Get the best price in your area</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
