<form (submit)="login()" ngNativeValidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "username" type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "password" type="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
